*{
    margin: 0px 0px;
    padding: 0px 0px;
}
.logo{
  
    padding:  20px 700px;
    height: 200px;
    width: 100%;
    background-color: #198754;
}
#navbarSupportedContent ul li a{
    color: black;
    font-size: 20px;
   padding: 10px 10px;
   margin: 4px 4px;
}
#navbarSupportedContent ul li a:hover{
    color:white;
    background-color:#198754;   
    text-align: center;
}

.slide{
    height: 800px;
}
.product{
    display: flex;
    height: 300px;
    width: 100%;
} 
.footer{
    padding: 40px 40px;
    height: 100px;
    width: 100%;
    background-color: black;
}
.footer p{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}